# Required: Slack OAUTH tokens for your workspace
SLACK_APP_OAUTH_TOKENS_FOR_WS="<fill-in-here>"

# Required: Slack App Level Token
SLACK_APP_LEVEL_TOKEN="<fill-in-here>"

# Required: OpenAI Api Key
OPENAI_API_KEY="<fill-in-here>"

# Required: App name
APP_NAME="Zygarde"

OPENAI_GPT_MODEL_ID = "gpt-4o"

DEFAULT_INTENTION = "CHAT"

# CHAT_MODE = SIMPLE | RAG
CHAT_MODE = "SIMPLE"