# Please rename this file to .env

# ────────────────────────────
# Required Configuration
# ────────────────────────────

# Slack OAUTH tokens for your workspace
SLACK_APP_OAUTH_TOKENS_FOR_WS="<fill-in-here>"

# Slack App Level Token
SLACK_APP_LEVEL_TOKEN="<fill-in-here>"

# Application Name
APP_NAME="Zygarde"

# Firework API Key
FIREWORKS_API_KEY="<fill-in-here>"

# OpenAI API Key
OPENAI_API_KEY="<fill-in-here>"

DEBUG_MODE="false"

# ────────────────────────────
# Optional Configuration
# ────────────────────────────





